---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    For full CV, please click 
    <a href="https://zhuchb.github.io/online-cv/" style="color: blue; text-decoration: underline;" target="_blank">here</a>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD student"
      subtitle="2024 to current, at The Hong Kong University of Science and Technology, Hong Kong"
    />
    <TimeLineElement
      title="MEng in Electrical Engineering and Information Systems"
      subtitle="2019 to 2021, at The University of Tokyo, Tokyo, Japan"
    />
    <TimeLineElement
      title="BEng in Software Engineering"
      subtitle="2015 to 2019, at Sun Yat-sen University, Guangzhou, China"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Project Manager at Japanese Big Company"
      subtitle="From 2022 to 2024 at とある日本大手, Tokyo, Japan"
    >
      XR系アプリ開発の仕事をさせて頂きました。
    </TimeLineElement>
    
    <!--
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://aws.amazon.com/jp/certification/certified-solutions-architect-associate/?nc1=h_ls" style="color: blue; text-decoration: underline;"　target="_blank"> AWS Certificated Solutions Architect - Associate</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Programming Skills</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Python</li>
    <li display="block;">Unity</li>
  </ul>

    <div class="mb-5">
    <div class="text-3xl w-full font-bold">Language Skills</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Mandarin - Native</li>
    <li>Japanese - Professional</li>
    <li>English - Professional</li>
    <li>Cantonese - Professional</li>
    <li>Russian - Intermediate</li>
  </ul>
</BaseLayout>
